extends _layouts/base

include _modules/link/link

block content
  .container
    .main
      i.wi.icon
      .current 
        span.temp
        span.degrees °
        span.suffix 
      .location   
    footer
      | Made with love by &nbsp;
      a(href="http://ari.zilnik.com")  Ari Zilnik
      | &nbsp; and &nbsp;
      a(href="http://ericresume.online")  Eric Hartman
      | .
