extends _layouts/base

include _modules/link/link

block content
  .container
    .main
      .icon This is an icon
      .current 26°C (79°F)
      .location Toronto, Canada
    footer
      | Made with love by Ari Zilnik and Eric Hartman.
