extends _layouts/base

include _modules/link/link

block content
  .container
    .main
      i.wi.icon
      .current 26°C (79°F)
      .location 
    footer
      | Made with love by Ari Zilnik and Eric Hartman.
